<html>
  <head>
    <title>Apache is installed to AWS server</title>
  </head>
  <body>
  <h1>Apache is installed to AWS server</h1>
  <p>By Yuriy TImerkhanov, ask questions to yutimer@gmail.com</p>
  <p>Created {{ ansible_date_time.date }} {{ ansible_date_time.hour }}:{{ ansible_date_time.minute }}</p>
  </body>
</html>
